name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Deploy
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git checkout -b gh-pages
          git add -A
          git commit -m "Deploy to GitHub Pages" || echo "No changes to commit"
          git push -f origin gh-pages
